<div class="text-center">
    <div class="text-lg p-5">
        <label>{{status}}</label>
    </div>
    <div *ngIf="loading">
        <i class="pi pi-spin pi-spinner" style="font-size: 5rem; color: green;"></i>
    </div>
    <div *ngIf="!loading">
        <div class="mt-2">
            <label for="pubkey">Public Key: {{keys.pubkey}}</label>
        </div>
        <div class="mt-2">
            <label for="privkey">Private Key: {{keys.privkey}}</label>
        </div>
        <div class="mt-2" *ngIf="showDownload">
            <a pButton href="{{link}}" target="_blank" download>Download</a>
        </div>
    </div>
    
</div>